<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Salton Sea Air Quality Monitoring</title>
    <style>
        body {
            background-image: url('/images/saltonseaclouds.png');
            background-size: cover;
            background-position: center;
            margin: 0; /* Reset default body margin */
            padding: 0; /* Reset default body padding */
        }
        .section-wrapper {
            background-color: rgba(0, 0, 0, 0.057); /* Add a semi-transparent background color */
            padding: 11%;
        }
        .lead {
            font-size: 1.25rem;
            color: #FFFFFF;
        }
    </style>
  </head>

  <section class="section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img class="img-fluid mb-4" src="images/saltonseamap.png" alt="Image" width="290" height="420">
            </div>
            <div class="col-md-6 text-center">
                <h1 class="display-4 fw-bold">Salton Sea Air Quality Monitoring</h1>
                <p class="lead">Welcome to our in-progress site for monitoring air quality around the Salton Sea.</p>
            
            </div>
        </div>
      </div>
  </section>
    
</html>

