<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Success Page</title>
</head>
<body>
    <h1>Success!</h1>
    <p>Welcome! You have successfully logged in with monitor: {{ monitorId }}</p>
</body>
</html>